<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>공지사항 보기</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/NOTICE.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div class="NOTICE">
		<div class="noticeTop">
			<ul class="noticeTopLeft">NOTICE</ul>
			<ul class="noticeTopRight">공지사항을 알려드립니다.</ul>
		</div>
		<div class="noticeMiddle">
			<ul>
				<li>제목 : 고민남 적립금지급</li>
				<li>작성일 : 2013/11/13</li>
			</ul>
			<ul class="noticeTip">
				고민남 적립금 얻는 TIP<br><br>

				1. 가입시 2,000원 포인트 지급.<br><br>

				2. 물품구매시 적립금 지급.<br><br>

				3. 구매후 리뷰작성 500원 지급.<br><br>

				4. 구매후 사진첨부리뷰작성 1,000원 지급.<br><br>

				5. 페이스북 좋아요누르고 게시판에 글남겨서<br><br>
				적립금 1,000원 지급.
			</ul>
		</div>
		<div class="noticeNext">
			<ul class="noticeNextBtn">
				<li><a href="/NOTICE2.html" style="text-decoration:none">다음</a></li>
			</ul>
		</div>
		<div class="noticeBottom">
			<ul class="noticePage">1</ul>
			<button class="noticeClose"><a href="/NOTICE.html" style="text-decoration:none">리스트</a></button>
			<button class="noticeClose" onclick=self.close();>닫기</button>
		</div>
	</div>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/NOTICE.js"></script>
</body>
</html>
