<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>공지사항</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/NOTICE.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div class="NOTICE">
		<div class="noticeTop">
			<ul class="noticeTopLeft">NOTICE</ul>
			<ul class="noticeTopRight">공지사항을 알려드립니다.</ul>
		</div>
		<div class="noticeMiddle">
			<ul>
				<li>제목</li>
				<li>작성일</li>
			</ul>
			<ul>
				<li><a href="/NOTICE1.html" style="text-decoration:none">고민남 적립금지급</a></li>
				<li>2013/11/13</li>
			</ul>
			<ul>
				<li><a href="/NOTICE2.html" style="text-decoration:none">품절상품 보상제도</a></li>
				<li>2013/11/13</li>
			</ul>
			<ul>
				<li>배송기간</li>
				<li>2013/11/13</li>
			</ul>
			<ul>
				<li>교환방법</li>
				<li>2013/11/13</li>
			</ul>
			<ul>
				<li>반품방법</li>
				<li>2013/11/11</li>
			</ul>
		</div>
		<div class="noticeBottom">
			<ul class="noticePage">1</ul>
			<button class="noticeClose" onclick=self.close();>닫기</button>
		</div>
	</div>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/NOTICE.js"></script>
</body>
</html>
