<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>공지사항 보기</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/NOTICE.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div class="NOTICE">
		<div class="noticeTop">
			<ul class="noticeTopLeft">NOTICE</ul>
			<ul class="noticeTopRight">공지사항을 알려드립니다.</ul>
		</div>
		<div class="noticeMiddle">
			<ul>
				<li>제목 : 품절상품 보상제도</li>
				<li>작성일 : 2013/11/13</li>
			</ul>
			<ul class="noticeTip">
				고민남에서 판매되는 상품을 구매하셨지만,<br><br>

				품절이 되어버린 상품을 보상해드립니다.<br><br>

				품절이되어서 다른상품을 구매원하실경우에<br><br>

				적립금으로 환급해드리며 환불금액에 3천원<br><br>

				플러스해드립니다 ^^ 적립금받아 더좋은제품<br><br>

				Choice = Click = Get = Very Good<br><br>

			</ul>
		</div>
		<div class="noticeNext">
			<ul class="noticeNextBtn">
				<li><a href="/NOTICE1.html" style="text-decoration:none">다음</a></li>
			</ul>
		</div>
		<div class="noticeBottom">
			<ul class="noticePage">1</ul>
			<button class="noticeClose"><a href="/NOTICE.html" style="text-decoration:none">리스트</a></button>
			<button class="noticeClose" onclick=self.close();>닫기</button>
		</div>
	</div>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/NOTICE.js"></script>
</body>
</html>
