<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Q&A</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/QAndA.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="allPage">
	<div id="topLine">
		<ul class="snsLinkImg">
			<li class="facebookImg" style="background-image: url('img/facebook.jpg'); background-repeat: no-repeat">
			</li>
			<li class="instarImg" style="background-image: url('img/instar.jpg'); background-repeat: no-repeat">
			</li>
			<br>
		</ul>
		<ul class="topLineText">
			<li><a href="/LOGIN.html" style="text-decoration:none">login</a></li>
			<li>cart</li>
			<li>order</li>
			<li>my page</li>
			<li>+favorite</li>
		</ul>
		<div class="top-menu&logo">
			<ul class="topLogo">
				<a href="/"><img src="img/gominnamLogo.jpg" /></a>
			</ul>
			<ul class="topMenu">
				<li><a href="/OUTER.html" style="text-decoration:none">OUTER</a></li>
				<li><a href="/TOP.html" style="text-decoration:none">TOP</a></li>
				<li><a href="/BOTTOM.html" style="text-decoration:none">BOTTOM</a></li>
				<li><a href="/SHOES.html" style="text-decoration:none">SHOES</a></li>
				<li><a href="/ACC.html" style="text-decoration:none">ACC</a></li>
				<li><a href="/ITEM.html" style="text-decoration:none">ITEM</a></li>
				<li>SALE</li>
				<li class="best">BEST 50</li>
				<li> | </li>
				<li><a href="/Q&A.html" style="text-decoration:none">Q&A</a></li>
				<li><a href="/REVIEW.html" style="text-decoration:none">REVIEW</a></li>
				<li><a href="#" style="text-decoration: none" onclick="window.open('NOTICE.html','new','width=450, height=430', 'resizable=no channelmode');return false">NOTICE</a></li>
			</ul>
		</div>
	</div>
	<div class="Q_AContainor">
		<ul class="Q_ATopLine">
			<li class="Q_AMain">Q & A</li>
			<li>궁금한점을 남겨주시면 친절히 답변해 드리겠습니다.</li>
		</ul>
		<ul class="Q_ADesc">
			<div class="Q_ADescRadio">
				<ul><input type="radio" name="Q_AName" value="ok" onclick="change(1);" class="Q_ACheckbox">이름</ul>
				<ul><input type="radio" name="Q_AName" value="ok" onclick="change(2);" checked="checked" class="Q_ACheckbox">제목</ul>
				<ul><input type="radio" name="Q_AName" value="ok" onclick="change(1);" class="Q_ACheckbox">내용</ul>
				<ul><input type="radio" name="Q_AName" value="ok" onclick="change(1);" class="Q_ACheckbox">상품</ul>
				<ul class="Q_ASearch">
					<li><input type="text" class="Q_ATextbox"></li>
					<li class="Q_ATextboxBtn" style="background-image: url('img/Q_ATextboxBtn.gif'); background-repeat: no-repeat">
				</ul>
			</div>
		</ul>
		<div class="Q_ABody">
			<ul class="Q_ATable">
				<div class="Q_AMasters">
					<ul>번호</ul>
					<ul>&nbsp;</ul>
					<ul>제목</ul>
					<ul>이름</ul>
					<ul>날짜</ul>
					<ul>조회</ul>
				</div>
				<ul class="Q_AAdmin">
					<li class="fa fa-arrow-right"></li>
					<li class="fa fa-microphone"></li>
					<li class="backAndChange">교환 및 반품 방법 안내해 드립니다.</li>
					<li>Admin</li>
					<li>2015/05/01</li>
					<li>361,892</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10613</li>
					<li class="fa fa-lock"></li>
					<li>[팔라스 기모 삼선팬츠] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>김**</li>
					<li>2017/01/16</li>
					<li>21</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10612</li>
					<li class="fa fa-lock"></li>
					<li>[롱 패딩 개파카] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>조**</li>
					<li>2017/01/15</li>
					<li>14</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10611</li>
					<li class="fa fa-lock"></li>
					<li>[무릎 이니셜 스크래치] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>황**</li>
					<li>2017/01/15</li>
					<li>19</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10610</li>
					<li class="fa fa-lock"></li>
					<li>[배트멍 스카쟌 호랭이 긴팔] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>이**</li>
					<li>2017/01/15</li>
					<li>2</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10609</li>
					<li class="fa fa-lock"></li>
					<li>[USA 오버 뽀글이 니트] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>최**</li>
					<li>2017/01/14</li>
					<li>11</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10608</li>
					<li class="fa fa-lock"></li>
					<li>고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>정**</li>
					<li>2017/01/14</li>
					<li>17</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10607</li>
					<li class="fa fa-lock"></li>
					<li>[일레븐 오버박스 단가라] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>오**</li>
					<li>2017/01/12</li>
					<li>5</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10606</li>
					<li class="fa fa-lock"></li>
					<li>[포틀랜드 왕 오버 양털자켓] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>장**</li>
					<li>2017/01/12</li>
					<li>8</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10605</li>
					<li class="fa fa-lock"></li>
					<li>[라이징 크루 데님] 고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>박**</li>
					<li>2017/01/12</li>
					<li>3</li>
				</ul>
				<ul class="Q_AAdmin">
					<li>10604</li>
					<li class="fa fa-lock"></li>
					<li>고민남 열혈팬으로써 문의드립니다. (1)</li>
					<li>백**</li>
					<li>2017/01/11</li>
					<li>21</li>
				</ul>
			</ul>
		</div>
			<ul class="nextPageNum">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
				<li>[다음]</li>
				<li>[끝]</li>
			</ul>
	</div>
	<div class="footer">
		<div class="footer-left">
			<ul>
				<li class="footer-left-one">
					상호명 : 고민남 &nbsp; 대표: 최수진 &nbsp;
					사업자등록번호: 000-00-00000[사업자등록정보확인] &nbsp;
					통신판매신고: 제2013-서울동대문-0452호<br>
				</li>
				<li class="footer-left-two">
					사업장소재지: 서울특별시 중랑구 용마산로 371, 201호 (면목동) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					문의전화: 070-8614-8396<br>
				</li>
				<li class="footer-left-thr">copyright(c)고민남. all right reserved.</li>
				<br><br><br>
				<li class="footer-left-fou">
					<div class="company">COMPANY</div>
					<div> | </div>
					<div class="agreement">AGREEMENT</div>
					<div> | </div>
					<div class="privacyOfPolicy">PRIVACY OF POLICY</div>
					<div> | </div>
					<div class="guide">GUIDE</div>
				</li>
			</ul>
		</div>
		<div class="footer-right">
			<ul class="footer-right-one">
				<li>070-8614-8396</li><br>
				MON - FRI &nbsp; &nbsp;&nbsp; 11:00 - 18:00<br>
				BREAK TIME &nbsp;13:00 - 14:00<br>
				SAT SUN HOLIDAY IS OFF
			</ul>
			<ul class="footer-right-two">
				<li>BANK INFO</li><br>
				국민 022201-04-186710<br>
				예금주 최 수 진 (고민남)
			</ul>
			<ul class="kbEscrow">
				<li class="kbEscrowImg" style="background-image: url('img/kbEscrowImg.gif'); background-repeat: no-repeat"></li>
			</ul>
		</div>
	</div>
	<ul class="nowTop">
		<i class="fa fa-chevron-circle-up">
			<div href="#" class="fa-chevron-circle-up" onclick="$('html, body').stop().animate( { scrollTop : 0 }, 700 ); "></div>
		</i>
	</ul>
</div>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/Q&A.js"></script>
</body>
</html>
