<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>TOP</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/TOP.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="allPage">
	<div id="topLine">
		<ul class="snsLinkImg">
			<li class="facebookImg" style="background-image: url('img/facebook.jpg'); background-repeat: no-repeat">
			</li>
			<li class="instarImg" style="background-image: url('img/instar.jpg'); background-repeat: no-repeat">
			</li>
			<br>
		</ul>
		<ul class="topLineText">
			<li><a href="/LOGIN.html" style="text-decoration:none">login</a></li>
			<li>cart</li>
			<li>order</li>
			<li>my page</li>
			<li>+favorite</li>
		</ul>
		<div class="top-menu&logo">
			<ul class="topLogo">
				<a href="/"><img src="img/gominnamLogo.jpg" /></a>
			</ul>
			<ul class="topMenu">
				<li><a href="/OUTER.html" style="text-decoration:none">OUTER</a></li>
				<li><a href="/TOP.html" style="text-decoration:none">TOP</a></li>
				<li><a href="/BOTTOM.html" style="text-decoration:none">BOTTOM</a></li>
				<li><a href="/SHOES.html" style="text-decoration:none">SHOES</a></li>
				<li><a href="/ACC.html" style="text-decoration:none">ACC</a></li>
				<li><a href="/ITEM.html" style="text-decoration:none">ITEM</a></li>
				<li>SALE</li>
				<li class="best">BEST 50</li>
				<li> | </li>
				<li><a href="/Q&A.html" style="text-decoration:none">Q&A</a></li>
				<li><a href="/REVIEW.html" style="text-decoration:none">REVIEW</a></li>
				<li><a href="#" style="text-decoration: none" onclick="window.open('NOTICE.html','new','width=450, height=430', 'resizable=no channelmode');return false">NOTICE</a></li>
			</ul>
		</div>
	</div>
	<div class="outerContainor">
		<div class="outerBestContainer">
			<ul class="bestText">
				<li class="bestSeller3">BEST SELLER 3</li>
				<li class="categoriesBest3">상품 카테고리별 BEST3</li>
			</ul>
			<ul class="bestTopImg">
				<li>
					<img class="bestTopImg0001" style="background-image:
				url('img/best3List/topBest3List/bestTopImg0001.jpg'); background-repeat: no-repeat"></img>
					<div class="bestOIT">
						<ul>
							<li class="best3Info">7컬러 스노우 폴라폴라 니트 <button class="optionBtn">옵션미리보기</button></li>
							<li class="prices">38,000원</li>
						</ul>
					</div>
				</li>
				<li>
					<img class="bestTopImg0001" style="background-image:
				url('img/best3List/topBest3List/bestTopImg0001.jpg'); background-repeat: no-repeat"></img>
					<div class="bestOIT">
						<ul>
							<li class="best3Info">7컬러 스노우 폴라폴라 니트 <button class="optionBtn">옵션미리보기</button></li>
							<li class="prices">38,000원</li>
						</ul>
					</div>
				</li>
				<li>
					<img class="bestTopImg0001" style="background-image:
				url('img/best3List/topBest3List/bestTopImg0001.jpg'); background-repeat: no-repeat"></img>
					<div class="bestOIT">
						<ul>
							<li class="best3Info">7컬러 스노우 폴라폴라 니트 <button class="optionBtn">옵션미리보기</button></li>
							<li class="prices">38,000원</li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="outerCategories">
				<li class="mustang">HOOD</li>(69)
				<li class="jumper">SHIRT</li>(66)
				<li class="vest">KNIT</li>(66)
				<li class="coat">MTM</li>(44)
				<li class="jacket">LONG T</li>(35)
				<li class="denimjk">1/2 T</li>(84)
			</ul>
		</div>
		<div class="mainCenter">
			<div class="totalInfo">
				<ul class="totalInfoLeft">
					<li>total </li>
					<li>364 </li>
					<li>ea</li>
				</ul>
				<ul class="totalInfoRight">
					<li>low price</li>|
					<li>high price</li>|
					<li>brand</li>
				</ul>
			</div>
			<div class="categories">
				<ul class="categories001">
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
				</ul>
				<ul class="categories001">
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
				</ul>
				<ul class="categories001">
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
				</ul>
				<ul class="categories001">
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
					<div class="thingsTable">
						<ths class="topImg0001Desc">
							(디즈니정품) 월계 미키 맨투맨<br>
							<li>42,000원</li>
							<i class="fa fa-search"></i>
						</ths>
						<li class="topImg0001" style="background-image: url('img/things/topThings/topImg0001.jpg'); background-repeat: no-repeat">
						</li>
					</div>
				</ul>
			</div>
		</div>
		<ul class="nextPageNum">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
			<li>10</li>
			<li>[끝]</li>
		</ul>
	</div>
	<div class="footer">
		<div class="footer-left">
			<ul>
				<li class="footer-left-one">
					상호명 : 고민남 &nbsp; 대표: 최수진 &nbsp;
					사업자등록번호: 000-00-00000[사업자등록정보확인] &nbsp;
					통신판매신고: 제2013-서울동대문-0452호<br>
				</li>
				<li class="footer-left-two">
					사업장소재지: 서울특별시 중랑구 용마산로 371, 201호 (면목동) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					문의전화: 070-8614-8396<br>
				</li>
				<li class="footer-left-thr">copyright(c)고민남. all right reserved.</li>
				<br><br><br>
				<li class="footer-left-fou">
					<div class="company">COMPANY</div>
					<div> | </div>
					<div class="agreement">AGREEMENT</div>
					<div> | </div>
					<div class="privacyOfPolicy">PRIVACY OF POLICY</div>
					<div> | </div>
					<div class="guide">GUIDE</div>
				</li>
			</ul>
		</div>
		<div class="footer-right">
			<ul class="footer-right-one">
				<li>070-8614-8396</li><br>
				MON - FRI &nbsp; &nbsp;&nbsp; 11:00 - 18:00<br>
				BREAK TIME &nbsp;13:00 - 14:00<br>
				SAT SUN HOLIDAY IS OFF
			</ul>
			<ul class="footer-right-two">
				<li>BANK INFO</li><br>
				국민 022201-04-186710<br>
				예금주 최 수 진 (고민남)
			</ul>
			<ul class="kbEscrow">
				<li class="kbEscrowImg" style="background-image: url('img/kbEscrowImg.gif'); background-repeat: no-repeat"></li>
			</ul>
		</div>
	</div>
	<ul class="nowTop">
		<i class="fa fa-chevron-circle-up">
			<div href="#" class="fa-chevron-circle-up" onclick="$('html, body').stop().animate( { scrollTop : 0 }, 700 ); "></div>
		</i>
	</ul>
</div>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/TOP.js"></script>
</body>
</html>
