<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>유니크 편집샵 고민남</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="allPage">
	<div id="topLine">
		<ul class="snsLinkImg">
			<li class="facebookImg" style="background-image: url('img/facebook.jpg'); background-repeat: no-repeat">
			</li>
			<li class="instarImg" style="background-image: url('img/instar.jpg'); background-repeat: no-repeat">
			</li>
			<br>
		</ul>
		<ul class="topLineText">
			<li>login</li>
			<li>cart</li>
			<li>order</li>
			<li>my page</li>
			<li>+favorite</li>
		</ul>
		<div class="top-menu&logo">
			<ul class="topLogo">
				<a href="/"><img src="img/gominnamLogo.jpg" /></a>
			</ul>
			<ul class="topMenu">
				<li>OUTER</li>
				<li>TOP</li>
				<li>BOTTOM</li>
				<li>SHOES</li>
				<li>ACC</li>
				<li>ITEM</li>
				<li>SALE</li>
				<li class="best">BEST 50</li>
				<li> | </li>
				<li>Q&A</li>
				<li>REVIEW</li>
				<li>NOTICE</li>
			</ul>
		</div>
	</div>
